<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Insta</title>
    <link rel="stylesheet" href="css/bulma.min.css">
      <link rel="stylesheet" 
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
  </head>
  <body>

<!-- NAV -->
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img src="img/insta-black.png" width="28" height="28">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
            <span class="material-symbols-outlined" style="font-size: 25px"> home_pin </span> 
              Home
            </a>
      
            <a class="navbar-item">
              <span class="material-symbols-outlined" style="font-size: 25px"> explore </span> 
              Explore
            </a>

            <a class="navbar-item">
              <span class="material-symbols-outlined" style="font-size: 25px"> notifications </span> 

              Notifications
            </a>

            <a class="navbar-item">
              <span class="material-symbols-outlined" style="font-size: 25px"> inbox </span> 
              Inbox
            </a>

            <a class="navbar-item">
              <span class="material-symbols-outlined" style="font-size: 25px"> account_circle </span> 
              Profile
            </a>


      <!-- SUB MENU -->
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <span class="material-symbols-outlined"> Settings </span> 
                Settings
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Settings
                </a>
                <a class="navbar-item">
                  Change password
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
     
      
  <section class="section">
    <div class="container">

       <div class="media">

            <div class="media-left">
                <div class="image is-256x256">
                    <img src="https://bulma.io/images/placeholders/256x256.png" alt="Image" class="is-rounded">
                </div>  
            </div>

            <div class="media-content" >
                <div class="content">

                    <h1 class="title is-1" style="font-weight: bold;">@BillGate</h1>
                    <h2 class="subtitle is-3">Bill Gate</h2>
                    
                    <div class="media-right">
                        <button class="button is-success">Follow</button>
                    </div>
                </div>
            <!-- </div> -->
        

            <nav class="level">
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Tweets</p>
                    <p class="title">3,456</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Following</p>
                    <p class="title">123</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Followers</p>
                    <p class="title">456K</p>
                  </div>
                </div>
                <div class="level-item has-text-centered">
                  <div>
                    <p class="heading">Likes</p>
                    <p class="title">789</p>
                  </div>
                </div>
              </nav>
              <p class="subtitle is-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Aliquid eveniet vitae accusantium fuga iure, unde deserunt, maxime adipisci reiciendis, saepe magnam 
                sint quasi eligendi voluptatem explicabo ipsam minus numquam modi?</p>

                <button class="button ">Edit profile</button>
              
        </div>

    </div>
</section>

    

    <!-- section  -->
  <section class='section'>

    <div class="container">
        <!-- tab  -->
    <div class="tabs is-centered">
        <ul>
          <li class="is-active">
            <a>
                <span class="material-symbols-outlined">dashboard</span> 
                Posts
            </a>
        </li>
          <li><a>
            <span class="material-symbols-outlined">save_alt</span> 
            Saved
            </a>
        </li>
         
        </ul>
      </div>
    
    <div class="columns is-multiline is-mobile is-centered">
                        
            <div class="column is-one-quarter">
            
                <div class="box">
                        <figure class="image is-256x256">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                        </figure>                          
                </div>
            </div>                  <!-- ####  -->
            <div class="column is-one-quarter">
                <div class="box">
                        <figure class="image is-256x256">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                        </figure>                          
                </div>
            </div>                  <!-- ####  -->
            <div class="column is-one-quarter">
            
                <div class="box">
                        <figure class="image is-256x256">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                        </figure>                          
                </div>
            </div>                  <!-- ####  -->
            <div class="column is-one-quarter">
                <div class="box">
                        <figure class="image is-256x256">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                        </figure>                          
                </div>
            </div>                  <!-- ####  -->
            <div class="column is-one-quarter">
                <div class="box">
                        <figure class="image is-256x256">
                        <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
                        </figure>                          
                </div>
            </div>                  <!-- ####  -->

    </div>

  </body>
</html>